@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Movie App</h1>
    <h2>Walter Gawel - Lab 6 - MVC Exercise</h2>
</div>

<a class="btn btn-lg btn-primary" href="/Movies">Take Me To The Movies!</a>
